<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ site.Title }}</title>
    {{- partial "head.html" . -}}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body class="bg-gray-50">
    {{- block "main" . }}{{- end }}
</body>

</html>